<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>RE3</string>
    <key>CFBundleShortVersionString</key>
    <string>%{RE3_VERSION}</string>
    <key>CFBundleGetInfoString</key>
    <string>Rapid Evolution 3</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>re3.icns</string>
    <key>LSArchitecturePriority</key>
    <array>
    	<string>i386</string>
    	<string>x86_64</string>
    	<string>ppc</string>
    	<string>ppc64</string>
    </array>    
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>com.mixshare.rapid_evolution.RapidEvolution3</string>
	  <key>StartOnMainThread</key><true/>
	  <key>JVMVersion</key>
      <string>1.5+</string>
      <key>VMOptions</key>
      <string>-Xmx%{RE3_MEMORY}m -Djava.security.policy=client.policy -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/rapid_evolution3.jar</string>        
        <string>$JAVAROOT/lib/commons-io-2.0.jar</string>
        <string>$JAVAROOT/lib/commons-codec-1.3.jar</string>
        <string>$JAVAROOT/lib/commons-collections-3.1.jar</string>
        <string>$JAVAROOT/lib/commons-httpclient-3.0.1.jar</string>
        <string>$JAVAROOT/lib/commons-lang-2.3.jar</string>
        <string>$JAVAROOT/lib/commons-logging-1.1.jar</string>
        <string>$JAVAROOT/lib/commons-logging-api-1.1.jar</string>
        <string>$JAVAROOT/lib/commons-net-1.4.1.jar</string>
        <string>$JAVAROOT/lib/commons-pool-1.2.jar</string>
        <string>$JAVAROOT/lib/icu4j.jar</string>
        <string>$JAVAROOT/lib/jena.jar</string>
        <string>$JAVAROOT/lib/log4j-1.2.13.jar</string>
        <string>$JAVAROOT/lib/rdf-api-2001-01-19.jar</string>
        <string>$JAVAROOT/lib/xercesImpl.jar</string>
        <string>$JAVAROOT/lib/xmlParserAPIs.jar</string>
        <string>$JAVAROOT/lib/commons-cli-2.0-SNAPSHOT.jar</string>
        <string>$JAVAROOT/lib/commons-dbcp-1.4.jar</string>
        <string>$JAVAROOT/lib/commons-dbutils-1.3.jar</string>
        <string>$JAVAROOT/lib/hadoop-0.20.1-hdfs127-core.jar</string>
        <string>$JAVAROOT/lib/hbase-0.20.4.jar</string>
        <string>$JAVAROOT/lib/postgresql-8.4-701.jdbc3.jar</string>
        <string>$JAVAROOT/lib/lucene-core-3.0.3.jar</string>
        <string>$JAVAROOT/lib/lucene-spellchecker-3.0.3.jar</string>        
        <string>$JAVAROOT/lib/zookeeper-3.2.2.jar</string>
        <string>$JAVAROOT/lib/jetty/jetty-6.1.25.jar</string>
        <string>$JAVAROOT/lib/jetty/jetty-util-6.1.25.jar</string>
        <string>$JAVAROOT/lib/jetty/servlet-api-2.5-20081211.jar</string>        
        <string>$JAVAROOT/lib/poi/poi-3.6-20091214.jar</string>
        <string>$JAVAROOT/lib/poi/poi-contrib-3.6-20091214.jar</string>
        <string>$JAVAROOT/lib/poi/poi-ooxml-3.6-20091214.jar</string>
        <string>$JAVAROOT/lib/poi/poi-ooxml-schemas-3.6-20091214.jar</string>
        <string>$JAVAROOT/lib/poi/poi-scratchpad-3.6-20091214.jar</string>        
        <string>$JAVAROOT/lib/codecs/jflac-1.2.jar</string>
        <string>$JAVAROOT/lib/codecs/jl1.0.1.jar</string>
        <string>$JAVAROOT/lib/codecs/jmac.jar</string>
        <string>$JAVAROOT/lib/codecs/jmacdecoder.jar</string>
        <string>$JAVAROOT/lib/codecs/jmacspi15.jar</string>
        <string>$JAVAROOT/lib/codecs/jmactritonusspi.jar</string>
        <string>$JAVAROOT/lib/codecs/jogg-0.0.7.jar</string>
        <string>$JAVAROOT/lib/codecs/jorbis-0.0.15.jar</string>
        <string>$JAVAROOT/lib/codecs/libjmac.so</string>
        <string>$JAVAROOT/lib/codecs/mp3spi1.9.4.jar</string>
        <string>$JAVAROOT/lib/codecs/tritonus_jorbis.jar</string>
        <string>$JAVAROOT/lib/codecs/tritonus_mp3.jar</string>
        <string>$JAVAROOT/lib/codecs/tritonus_share.jar</string>
        <string>$JAVAROOT/lib/codecs/vorbisspi1.0.3.jar</string>
        <string>$JAVAROOT/lib/codecs/xuggle/commons-cli.jar</string>
        <string>$JAVAROOT/lib/codecs/xuggle/logback-classic.jar</string>
        <string>$JAVAROOT/lib/codecs/xuggle/logback-core.jar</string>
        <string>$JAVAROOT/lib/codecs/xuggle/slf4j-api.jar</string>
        <string>$JAVAROOT/lib/codecs/xuggle/xuggle-xuggler.jar</string>
        <string>$JAVAROOT/lib/mining/echonest/jEN.jar</string>
        <string>$JAVAROOT/lib/mining/echonest/json_simple-1.1.jar</string>
        <string>$JAVAROOT/lib/mining/htmllexer.jar</string>
        <string>$JAVAROOT/lib/mining/htmlparser.jar</string>
        <string>$JAVAROOT/lib/mining/last.fm-bindings.jar</string>
        <string>$JAVAROOT/lib/mining/musicbrainz-beta-2.jar</string>
        <string>$JAVAROOT/lib/mining/jtwitter.jar</string>
        <string>$JAVAROOT/lib/tagging/entagged-tageditor-0.21.jar</string>
        <string>$JAVAROOT/lib/tagging/jaudiotagger-2.0.3.jar</string>
        <string>$JAVAROOT/lib/tagging/JID3.jar</string>
        <string>$JAVAROOT/lib/tagging/jid3lib-0.5.4.jar</string>
        <string>$JAVAROOT/lib/mac/MRJAdapter.jar</string>
        <string>$JAVAROOT/lib/mac/quaqua.jar</string>
        <string>$JAVAROOT/lib/qt/qtjambi-4.5.2_01.jar</string>
        <string>$JAVAROOT/lib/qt/qtjambi-macosx-gcc-4.5.2_01.jar</string>
        <string>$JAVAROOT/bundles/</string>
		<string>$APP_PACKAGE/Contents/Resources</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>RE3</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>java.library.path</key>
        <string>$JAVAROOT/lib/mac/libquaqua.jnilib</string>
      </dict>
    </dict>
  </dict>
</plist>
